NEXT_PUBLIC_SUPABASE_URL=https://yqvipidbzyyklxxktffd.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=
SUPABASE_SERVICE_ROLE_KEY=
NEXT_PUBLIC_APP_URL=https://seudominio.vercel.app
# Meta OAuth
META_APP_ID=
META_APP_SECRET=
NEXT_PUBLIC_META_APP_ID=
